{% extends "Main.twig" %}

{% block header_css_includes %}<link rel="stylesheet" href="{{ base_dir }}/css/homepage.css" media="all">{% endblock %}

{% block header %}
	<h1>{{ Page_Title }}</h1>
	<ul>
		<li><a href="{{base_dir}}/">Home</a>
		<li><a href="{{base_dir}}/error">Error</a>
		<li><a href="{{base_dir}}/SiteJSON">Home page (JSON)</a>
		<li><a href="{{base_dir}}/blog">Blog</a>
		<li><a href="forum.gafk/">Forum</a>
	</ul>
{% endblock %}
{% block left_nav %}{% endblock %}
{% block content %}{% endblock %}
{% block right_nav %}{% endblock %}
{% block footer %}{% endblock %}